{% extends "layout.html" %}

{% block content %}

    <div class="dashboard_row1">
        <h1>Search Wikipedia</h1><br />

        <form method="post" name="form1">
            <input type="search" name="wiki_search" id="wiki_search">
            <button type="submit" id="wiki" name="wiki">Search</button>
            <button type="button" onclick="clearResponse()">Clear Search</button>
        </form>
    </div>

    <div class="note_form">
        <textarea class="note" id="response">{{ response }}</textarea>
    </div>

    <div class="bottom">"The greatest lesson I have learned in life is that I still have a lot to learn".</div>

{% endblock %}
