{% extends "layout.html" %}

{% block content %}

    <div class="dashboard_row1">
        <h1>Add New Note</h1><br />
    </div>

    <div class="dashboard_middle">
        <div class="note_box">
            <form class="note_form" method="post">
                <h1>Note</h1>
                <input class="subject" placeholder="Subject" name="subject">
                <input class="subject" id="title" placeholder="Title" autocomplete="off" name="title">
                <textarea class="note" name="note" id="note"></textarea>
                <button type="submit" name="note_submit">Save Note</button>
            </form>
        </div>
    </div>






        </div>



    </div>

    <div class="bottom">"The greatest lesson I have learned in life is that I still have a lot to learn".</div>

{% endblock %}
