{% extends "layout.html" %}

{% block title %}Search notes{% endblock %}

{% block content %}
    <div class="dashboard_row1">
        <h1>Search Notes</h1><br />
    </div>

    <form action="/search_notes" method="post">
        <input name="subject">
        <button type="submit">Search</button>
    </form>
    {% for note in notes %}

        <form class="note_form" method="post" action="/edit">

            <h2 class="title">{{ note.title }}</h2>

            <textarea class="note">{{ note.data }}</textarea>

            <input type="hidden" name="note_id" value="{{ note.id }}">
            <button type="submit">Edit Note</button>
        </form>

        <form method="post" action="/delete">
            <input type="hidden" name="id" id=id value="{{ note.id }}">
            <button type="submit">Delete Note</button>
        </form>
    {% endfor %}


{% endblock %}