{% extends 'layout.html'%}

{% block content%}
    <div class="hero_container">
        <div class="hero_content">
            <h1>Knowledge Amplified:</h1>
            <h2> Your Ultimate Notes Companion</h2>
            <p>Categorize with Precision: Organize your notes into custom categories.
                Group by subject, project, or personal interest. Stay in control and
                find what you need at a glance.</p>
        </div>
    </div>

    <div id="row2">
        <h1>Our Mission</h1><br />
        <h2> Inspire Learning:</h2> <p>Fuel your thirst for knowledge. Every note you take becomes a stepping stone toward enlightenment.</p>
        <p>Connect the dots between ideas, concepts, and discoveries. Our app bridges the
            gap between information and understanding.</p>
        <p>Your time matters. We’re here to streamline your note-taking process, leaving
        you more room to explore and learn.</p>
    </div>

    <div class="card_container">

        <div class="main_landing">
            <a href="/register"><div class="landing_card_link"><h2>Register</h2></div></a>
            <div class="box3">
                <h3>Join the Knowledge Revolution</h3>
                <p>Create your account and unlock a world of organized learning. </p>
            </div>
            <div class="box4"></div>
        </div>

        <div class="main_landing">
            <a href="/login"><div class="landing_card_link"><h2>Login</h2></div></a>
            <div class="box3">
                <h3>Back to Brilliance</h3>
                <p>Already part of our community? Log in and continue your journey. </p>
            </div>
            <div class="box4"></div>
        </div>

    </div>

    <div class="bottom">"The greatest lesson I have learned in life is that I still have a lot to learn".</div>




{% endblock%}