<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1, width=device-width">
    <link rel="stylesheet" href="{{ url_for('static', filename='nav_style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>{% block title %}Home{% endblock %}</title>
</head>
<body>
    <nav>
        <ul class="sidebar">
            <li onclick=hideSidebar()><a href="#"><img src="static/images/close_icon.png" id="close_icon"></a></li>
            {% if session.get("user_id")  %}
            <li><a href="/dashboard">Dashboard</a></li>
            <li><a href="/wiki_search">Wikipedia</a></li>
            <li><a href="/search_notes">Search Notes</a></li>
            <li><a href="/notes">All Notes</a></li>
            <li><a href="/logout">Logout</a></li>
            {% else %}
            <li><a href="/">Home</a></li>
            <li><a href="/login">Login</a></li>
            <li><a href="/register">Register</a></li>
            {% endif %}
        </ul>

        <ul>
            {% if session.get("user_id")  %}
            <li><a href="/dashboard">Dashboard</a></li>
            <li class="hideOnMobile"><a href="/wiki_search">Wikipedia</a></li>
            <li class="hideOnMobile"><a href="/search_notes">Search Notes</a></li>
            <li class="hideOnMobile"><a href="/notes">All Notes</a></li>
            <li class="hideOnMobile"><a href="/logout">Logout</a></li>
            {% else %}
            <li><a href="/">Home</a></li>
            <li class="hideOnMobile"><a href="/login">Login</a></li>
            <li class="hideOnMobile"><a href="/register">Register</a></li>
            {% endif %}
            <li onclick=showSidebar()><a href="#"><img src="static/images/menu.jpg" id="menu_icon"></a></li>
        </ul>
    </nav>
    <div class="container">
        {% block content %}

        {% endblock%}
    </div>
<script src="static/javascript.js"></script>
</body>
</html>